<div class="d-lg-flex half">
    <div class="bg order-1 order-md-2 image pr-2"></div>
    <div class="contents order-2 order-md-1">

        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-7">
                    <h3>Register to <strong>CoffeeShop</strong></h3>
                    <p class="mb-4">Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur adipisicing.</p>
                    <form [formGroup]="form" method="post" (ngSubmit)="register()">
                        <div class="form-group first">
                            <label for="username" class="mb-2 h5">Username</label>
                            <input type="text" class="form-control mb-2" placeholder="Your Username" id="username" name="username" formControlName="username">
                        </div>
                        <div class="form-group first">
                            <label for="email" class="mb-2 h5">Email</label>
                            <input type="text" class="form-control mb-2" placeholder="your-email@gmail.com" id="email" name="email" formControlName="email">
                        </div>
                        <div class="form-group last mb-3">
                            <label for="password" class="mb-2 h5">Password</label>
                            <input type="password" class="form-control mb-2" placeholder="Your Password" id="password" name="password" formControlName="password">
                        </div>
                        <div class="form-group last mb-3">
                            <label for="password" class="mb-2 h5">Repeat Password</label>
                            <input type="password" class="form-control mb-2" placeholder="Your Password" id="password" name="rePassword" formControlName="rePassword">
                        </div>
                        <div class="form-group last mb-3">
                            <label for="avatarImg" class="mb-2 h5">Avatar</label>
                            <input type="text" class="form-control mb-2" placeholder="https://..." id="avatarImg" name="avatarImg" formControlName="avatarImg">
                        </div>
                        <div class="d-flex mb-4 align-items-center">
                            <span>Already have an account? <a href="/login"> Login here!</a></span>
                        </div>
                        <input type="submit" value="Register" class="btn btn-block btn-primary">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>