<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">Page Heading
      <small>Secondary Text</small>
    </h1>
  
    <!-- Portfolio Item Row -->
    <div class="row">
  
      <div class="col-md-8">
        <img class="img-fluid" src="{{coffee?.imageUrl}}" alt="">
      </div>
  
      <div class="col-md-4">
        <h3 class="my-3">Project Description</h3>
        <p>{{coffee?.description}}</p>
        <h3 class="my-3">Project Details</h3>
        <ul>
          <li>Type: {{coffee?.type}}</li>
          <li>Intensity: {{coffee?.intensity}}</li>
          <li>Price: {{coffee?.price}}</li>
          <li>Adipiscing Elit</li>
        </ul>
      </div>
  
    </div>
</div>