<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h1 class="center mb-4">Shopping Cart</h1>
      <div class="cart-item">
        <div class="row">
          <div class="col-md-2">
            <img src="" alt="Product 1" class="img-fluid" />
          </div>
          <div class="col-md-6">
            <h4>Product Name 1</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
          <div class="col-md-2">
            <p>$19.99</p>
          </div>
          <div class="col-md-2 center">
            <button class="btn btn-danger">Remove</button>
          </div>
        </div>
      </div>
      <div class="cart-item">
        <div class="row">
          <div class="col-md-2">
            <img src="" alt="Product 2" class="img-fluid" />
          </div>
          <div class="col-md-6">
            <h4>Product Name 2</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
          <div class="col-md-2">
            <p>$29.99</p>
          </div>
          <div class="col-md-2 center">
            <button class="btn btn-danger">Remove</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
